<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css" media="screen" title="no title" charset="utf-8"/>
  <link rel="icon" type="image/png"href="/images/scrape-this-favicon.png">
</head>
<body>
  <img id="imgBack" src="/images/background-2.jpg">
  <div id="scrape-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="note-area">
            {{!-- notes go here --}}
            <div class="note d-flex w-100 justify-content-between">
              <p>test note lore</p>
              <button type="button" class="btn btn-danger btn-sm delete-note-button align-self-start"><i class="fas fa-backspace"></i></button>
              
            </div>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              {{!-- <button type="button" id="add-note-button-modal" class="btn btn-light"><span class="input-group-text">Add Note</span></button> --}}
            </div>
            <textarea class="form-control" id="note-input" aria-label="With textarea"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {{!-- end modal --}}
  <div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
      <h1 class="display-4">{{titleCard}}!</h1>
      <p class="lead">SingleTrack Scraper and MongoDB</p>
    </div>
  </div>
  <div id="content-box" class="wrapper">
    <div id="side-menu">
      <div class="side-menu-header">
    <h3>{{titleCard}}</h3>
    <strong>S.T.</strong>
    </div>
      <div class="container pt-1">
        <a href="/" role="button" class="button-1 btn btn-info btn-lg btn-block {{#if home}}active{{/if}}"><i class="fas fa-home"></i><span> Home</span></button>
        <a href="/" role="button" class="button-2 btn btn-outline-info btn-lg btn-block d-none {{#if home}}active{{/if}}"><i class="fas fa-home"></i><span> Home</span></button>
        <a href="/favorites" role="button" class="button-1 btn btn-info btn-lg btn-block {{#if saved}}active{{/if}}"><i class="fas fa-archive"></i><span> Saved Articles</span></a>
        <a href="/favorites" role="button" class="button-2 btn btn-outline-info btn-lg btn-block d-none {{#if saved}}active{{/if}}"><i class="fas fa-archive"></i><span> Saved Articles</span></a>
        <button role="button" id="scrape-button" class="button-1 btn btn-warning btn-lg btn-block"><i class="fas fa-search"></i><span> Scrape New Articles</span></button>
        <button role="button" id="scrape-button" class="button-2 btn btn-outline-warning d-none btn-lg btn-block"><i class="fas fa-search"></i><span> Scrape New Articles</span></button>
        <button type="button" id="clear-articles-button" class="button-1 btn btn-danger btn-lg btn-block"><i class="fas fa-trash-alt"></i> <span> Clear Articles</span></button>
        <button type="button" id="clear-articles-button" class="button-2 btn btn-outline-danger btn-lg d-none btn-block"><i class="fas fa-trash-alt"></i> <span> Clear Articles</span></button>
      </div>
    </div>
    <div id="main-content">
      <button type="button" id="sidebarCollapse" class="btn btn-info mt-1 ml-1"><i class="fas fa-align-left"></i></button>
    {{{body}}}
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/note.js"></script>
<script src="/js/main.js"></script>
</body>
</html>