#content-box{
  /* display: flex; */
}
body {
  position: relative;
}

#side-menu{
  float: left;
  background-color: grey;
  height: 100vh;
  width: 20%;
  position: sticky;
  top: 0;
}

#main-content {
  /* width: 60%; */
  /* position: absolute; */
  /* right: 0; */
}