.jumbotron{
  color: red;
}

.jumbotron h1,
.jumbotron p {
  text-shadow: 
  1px 1px .1rem black,
  1px -1px .1rem black,
  -1px -1px .1rem black,
  -1px 1px .1rem black;
}
.border-3 {
  border-width: 0.3rem !important;
}
body {
  position: relative;
}

#imgBack {
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  /* z-index:-1; */
}

.jumbotron {
  background-image: url("../images/panorama-mtb.jpg");
  background-size: cover;
  background-position: center;
}

/* sidebar menu
********************* */

#side-menu{
  float: left;
  background-color: rgb(128, 128, 128, .75);
  min-height: 100vh;
  width: 20%;
  position: sticky;
  top: 0;
  transition: all 0.3s;
}
/* Shrinking the side-menu from 250px to 80px and center aligining its content*/
#side-menu.active {
  width: 80px;
  text-align: center;
}

#sidebarCollapse{ /*sidebard collapse button*/
  position: sticky;
  top: .2rem;

}
/* Toggling the side-menu header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#side-menu .side-menu-header strong {
  display: none;
}

#side-menu.active .side-menu-header strong {
  display: block;
  text-align: center;
  padding-top: .6rem;
}

#side-menu .side-menu-header h3 {
  padding-top: .5rem;
  text-align: center;
}

#side-menu.active .side-menu-header h3 {
  display: none;
}


#side-menu.active a {
  text-align: center;
  transition: all 0.3s;
}

#side-menu.active span {
  display:none;
}

#side-menu.active button {
  text-align: center;
}

/* ***********************
end sidebar */

/* card style
*********************** */

.card{
  background-color: rgba(255, 255, 255, 0.65);
}
.card-body img {
  float: left;
  max-width: 25%;
  min-width: 7rem;
  margin-right: .5rem;
  /* display: inline; */
}

.card-body p {
  display: inline;
}

/* *******************
end card style */

/* ************
Note Modal
************ */
  #note-area {
    display: flexbox;
  }
  #note-area .delete-note-button{
    margin: 0 0 0 auto;
  }
  .note {
    border: lightgray solid .1rem;
    padding: .5rem;
    margin-bottom: .5rem;
  }

/* Note Modal */
/* ************ */



/* Saved Items
************ */
  .save-page-buttons button {
    margin-left: 0.2rem;
  }

/* ************ */
/* Saved Items */

/* media query for side bar */
@media (max-width: 768px) {
  /* 80px and its content aligned to centre. Pushing it off the screen with the
     negative left margin
  */
  #side-menu.active {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      margin-left: -80px !important;
  }

  /* Reappearing the side-menu on toggle button click */
  #side-menu {
      margin-left: 0; 
  }


  /* Toggling the side-menu header content, 
     hide the big heading [h3] and showing the small heading [strong] and vice versa
  */
  #side-menu .side-menu-header strong {
      display: block;
      text-align: center;
      padding-top: .4rem;
  }
  #side-menu .side-menu-header h3 {
      display: none;
  }

  /* Downsize the navigation links font size */
  #side-menu.active a {
      font-size: 0.85em;
  }
  #side-menu a {
    text-align: center;
    font-size: 0.85em;
  }
  #side-menu span {
    display:none;
  }
  
  #side-menu button {
    text-align: center;
    font-size: 0.85em;
  }
}